{% use 'bootstrap_5_horizontal_layout.html.twig' %}

{% block form_label_class -%}
    {%- if label is not same as(false) -%}
        col-sm-4
    {%- endif -%}
{%- endblock form_label_class %}

{% block form_group_class -%}
    {%- if label is not same as(false) -%}
        col-sm-8
    {%- else -%}
        col-sm-12
    {%- endif -%}
{%- endblock form_group_class %}

{% block collections_row -%}
    <div class="row">
        <label class="col-sm-2 {% if required %}required{% endif %}">
            {{ label ?? name|humanize }}
        </label>
        <div class="col-sm-10">
            <ul id="{{ id }}"
                class="list-group" data-prototype="{{ form_widget(prototype)|e('html_attr') }}"
                    {% if prototype.vars.name %} data-prototype-name="{{ prototype.vars.name | e }}" {% endif %}
                data-widget-item="{{ '<li class=" list-group-item pe-sm-12 collection-item"></li>'|e }}"
            >
                {%- for child in form %}
                    <li class="list-group-item pe-sm-12 collection-item" style="position: relative;">
                        {{- form_errors(child) -}}
                        {{- form_widget(child) -}}
                    </li>
                {% endfor -%}
            </ul>
        </div>
    </div>
{%- endblock collections_row %}

{%- block choice_widget_collapsed -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' js-select2')|trim}) -%}
    {{- parent() -}}
{%- endblock choice_widget_collapsed -%}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {{- form_widget(child, {
                parent_label_class: label_attr.class|default('checkbox-inline'),
                translation_domain: choice_translation_domain,
                valid: valid,
            }) -}}
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded %}
