{% extends 'base.html.twig' %}
{% import '@App/theme1/breadcrumb.html.twig' as breadcrumb %}
{% import '@App/theme1/pagination.html.twig' as pagination %}
{% import 'theme/action.html.twig' as action %}

{% set _title = 'Proyeccion' %}
{% set _main_title = 'Listado' %}
{% set _section =  'proyeccion_index' %}

{% block _breadcrumb %}
    {{ breadcrumb.show(_title) }}
{% endblock %}

{% block _main %}
    {{ pagination.pager(paginator, _section) }}
    {% embed 'theme/_table.html.twig' %}
        {% block table_head %}
            {% import 'theme/action.html.twig' as action %}
            {% import '@App/theme1/table.html.twig' as table %}

            <tr>
                {{ table.th('#') }}
                {{ table.th('Socio', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Proyeccion', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Acopio', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Aporte', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Pago Aporte', true, 'd-none d-sm-table-cell') }}

                {{ table.th('Activo', true, 'd-none d-sm-table-cell text-center') }}
                <th></th>
            </tr>
        {% endblock %}
        {% block table_body %}
            {% import 'theme/action.html.twig' as action %}
            {% import '@App/theme1/table.html.twig' as table %}

            {% for proyeccion in paginator.results %}
                <tr>
                    <td class="text-center">{{ loop.index | index (paginator)}}</td>
                    <td class="d-block d-sm-none">
                        <table class="table gs-0 gy-0">
                            {{ table.tbl_tr_th_td('Socio', proyeccion.socio) }}
                            {{ table.tbl_tr_th_td('Proyeccion', proyeccion.quintales) }}
                            {{ table.tbl_tr_th_td('Acopio', proyeccion.acopiadoQuintales) }}
                            {{ table.tbl_tr_th_td('Aporte','S/' ~  proyeccion.aporte) }}
                            {{ table.tbl_tr_th_td('Pago Aporte','S/' ~  proyeccion.pagoAporte) }}
                            {{ table.tbl_tr_th_td('Activo', proyeccion.isActive  | yesno_custom) }}
                        </table>
                    </td>
                    <td class="d-none d-sm-table-cell">{{ proyeccion.socio}}</td>
                    <td class="d-none d-sm-table-cell">{{ proyeccion.quintales }}</td>
                    <td class="d-none d-sm-table-cell">{{ proyeccion.acopiadoQuintales }}</td>
                    <td class="d-none d-sm-table-cell">S/ {{ proyeccion.aporte }}</td>
                    <td class="d-none d-sm-table-cell">S/ {{ proyeccion.pagoAporte }}</td>
                    <td class="d-none d-sm-table-cell text-center">{{ proyeccion.isActive | yesno_custom | raw }}</td>
                    <td class="">
                        <div class="float-end">
                            {% if access.has('show', proyeccion) %}
                                {{ action.btn_show_link2_ico(path('proyeccion_show', {'id': proyeccion.id})) }}
                            {% endif %}
                            {% if access.has('edit', proyeccion) %}
                                {{ action.btn_edit_link2_ico(path('proyeccion_edit', {'id': proyeccion.id})) }}
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No hay registros</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    {{ pagination.show(paginator, _section) }}
{% endblock %}

{% block _main_footer %}
    {% include 'crud/_index_links.html.twig' with {'route_base': 'proyeccion'} %}
{% endblock%}

{% block _body_tools %}
    {% include 'crud/_index_links_ico.html.twig' with {'route_base': 'proyeccion'}  %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/crud/list.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            CRUDList.init('{{ path('proyeccion_index') }}');
        })
    </script>
{% endblock %}
