{% extends 'base.html.twig' %}
{% import '@App/theme1/breadcrumb.html.twig' as breadcrumb %}
{% import '@App/theme1/pagination.html.twig' as pagination %}

{% set _title = 'Menu' %}
{% set _main_title = 'Listado' %}
{% set _section =  'menu_index' %}

{% block _breadcrumb %}
    {{ breadcrumb.show(_title) }}
{% endblock %}

{% block _main %}
    {{ pagination.pager(paginator, _section) }}
    {% embed 'theme/_table.html.twig' %}
        {% block table_head %}
            {% import 'theme/action.html.twig' as action %}
            {% import '@App/theme1/table.html.twig' as table %}

            <tr>
                {{ table.th('#') }}
                {{ table.th('Datos', true, 'd-block d-sm-none') }}
                {{ table.th('Padre', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Nombre', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Ruta', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Icono', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Insignia', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Orden', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Activo', true, 'd-none d-sm-table-cell text-center') }}
                <th></th>
            </tr>
        {% endblock %}
        {% block table_body %}
            {% import 'theme/action.html.twig' as action %}
            {% import '@App/theme1/table.html.twig' as table %}

            {% for menu in paginator.results %}
                <tr>
                    <td class="text-center">{{ loop.index | index (paginator)}}</td>
                    <td class="d-block d-sm-none">
                        <table class="table gs-0 gy-0">
                            {{ table.tbl_tr_th_td('Padre', menu.parent) }}
                            {{ table.tbl_tr_th_td('Nombre', menu.name) }}
                            {{ table.tbl_tr_th_td('Ruta', menu.route) }}
                            {{ table.tbl_tr_th_td('Icono', menu.icon, false) }}
                            {{ table.tbl_tr_th_td('Activo', menu.isActive  | yesno_custom) }}
                        </table>
                    </td>
                    <td class="d-none d-sm-table-cell">{{ menu.parent}}</td>
                    <td class="d-none d-sm-table-cell">{{ menu.name }}</td>
                    <td class="d-none d-sm-table-cell">{{ menu.route }}</td>
                    <td class="d-none d-sm-table-cell"><i class="{{ menu.icon }}"></i> {{ menu.icon }}</td>
                    <td class="d-none d-sm-table-cell text-center">{{ menu.badge }}</td>
                    <td class="d-none d-sm-table-cell text-center">{{ menu.ranking }}</td>
                    <td class="d-none d-sm-table-cell text-center">{{ menu.isActive | yesno_custom | raw }}</td>
                    <td class="">
                        <div class="float-end">
                            {% if access.has('show', menu) %}
                                {{ action.btn_show_link2_ico(path('menu_show', {'id': menu.id})) }}
                            {% endif %}
                            {% if access.has('edit', menu) %}
                                {{ action.btn_edit_link2_ico(path('menu_edit', {'id': menu.id})) }}
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No hay registros</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    {{ pagination.show(paginator, _section) }}
{% endblock %}

{% block _main_footer %}
    {% include 'crud/_index_links.html.twig' with {'route_base': 'menu'} %}
{% endblock%}

{% block _body_tools %}
    {% include 'crud/_index_links_ico.html.twig' with {'route_base': 'menu'}  %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/crud/list.js') }}"></script>
    <script>
        $(document).ready(function () {
            CRUDList.init('{{ path('menu_index') }}');
        });
    </script>
{% endblock %}
