{% extends 'base.html.twig' %}
{% import '@App/theme1/breadcrumb.html.twig' as breadcrumb %}
{% import '@App/theme1/pagination.html.twig' as pagination %}
{% import 'theme/action.html.twig' as action %}

{% set _title = 'Base Social' %}
{% set _main_title = 'Listado' %}
{% set _section =  'base_social_index' %}

{% block _breadcrumb %}
    {{ breadcrumb.show(_title) }}
{% endblock %}

{% block _main %}
    {{ pagination.pager(paginator, _section) }}
    {% embed 'theme/_table.html.twig' %}
        {% block table_head %}
            {% import 'theme/action.html.twig' as action %}
            {% import '@App/theme1/table.html.twig' as table %}

            <tr>
                {{ table.th('#') }}
                {{ table.th('Nombre', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Localidad', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Activo', true, 'd-none d-sm-table-cell text-center') }}
                <th></th>
            </tr>
        {% endblock %}
        {% block table_body %}
            {% import 'theme/action.html.twig' as action %}
            {% import '@App/theme1/table.html.twig' as table %}

            {% for base_social in paginator.results %}
                <tr>
                    <td class="text-center">{{ loop.index | index (paginator)}}</td>
                    <td class="d-block d-sm-none">
                        <table class="table gs-0 gy-0">
                            {{ table.tbl_tr_th_td('Nombre', base_social.nombre) }}
                            {{ table.tbl_tr_th_td('Localidad', base_social.localidad) }}
                            {{ table.tbl_tr_th_td('Activo', base_social.isActive  | yesno_custom) }}
                        </table>
                    </td>
                    <td class="d-none d-sm-table-cell">{{ base_social.nombre }}</td>
                    <td class="d-none d-sm-table-cell">{{ base_social.localidad }}</td>
                    <td class="d-none d-sm-table-cell text-center">{{ base_social.isActive | yesno_custom | raw }}</td>
                    <td class="">
                        <div class="float-end">
                            {% if access.has('show', base_social) %}
                                {{ action.btn_show_link2_ico(path('base_social_show', {'id': base_social.id})) }}
                            {% endif %}
                            {% if access.has('edit', base_social) %}
                                {{ action.btn_edit_link2_ico(path('base_social_edit', {'id': base_social.id})) }}
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No hay registros</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    {{ pagination.show(paginator, _section) }}
{% endblock %}

{% block _main_footer %}
    {% include 'crud/_index_links.html.twig' with {'route_base': 'base_social'} %}
{% endblock%}

{% block _body_tools %}
    {% include 'crud/_index_links_ico.html.twig' with {'route_base': 'base_social'}  %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/crud/list.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            CRUDList.init('{{ path('base_social_index') }}');
        })
    </script>
{% endblock %}
