{% extends 'base.html.twig' %}
{% import '@App/theme1/breadcrumb.html.twig' as breadcrumb %}
{% import '@App/theme1/pagination.html.twig' as pagination %}
{% import 'theme/action.html.twig' as action %}
{% import 'theme/cardshow.html.twig' as cardshow %}
{% import 'theme/form.html.twig' as frm %}

{% set _title = 'Soporte' %}
{% set _main_title = 'Listado' %}
{% set _section =  'soporte_index' %}

{% block _breadcrumb %}
    {{ breadcrumb.show(_title) }}
{% endblock %}

{% block _main %}
    <div class="">
        {{ form_start(formFilter) }}
        <div class="row">
            <div class="col">
                {{ form_row(formFilter.socio) }}
            </div>
            <div class="col">
                {{ form_row(formFilter.tipoSoporte) }}
            </div>
            <div class="col">
                <button class="btn btn-secondary">Buscar</button>
            </div>
        </div>
        {{ form_end(formFilter) }}
    </div>
    <br>
    {{ pagination.pager(paginator, _section, false) }}
    {% embed 'theme/_table.html.twig' %}
        {% block table_head %}
            {% import 'theme/action.html.twig' as action %}
            {% import '@App/theme1/table.html.twig' as table %}

            <tr>
                {{ table.th('#') }}
                {{ table.th('Socio', true, 'd-none d-sm-table-cell') }}
                {{ table.th('T.Soporte', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Monto', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Amortizacion', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Activo', true, 'd-none d-sm-table-cell text-center') }}
                <th></th>
            </tr>
        {% endblock %}
        {% block table_body %}
            {% import 'theme/action.html.twig' as action %}
            {% import '@App/theme1/table.html.twig' as table %}

            {% for soporte in paginator.results %}
                <tr>
                    <td class="text-center">{{ loop.index | index (paginator)}}</td>
                    <td class="d-block d-sm-none">
                        <table class="table gs-0 gy-0">
                            {{ table.tbl_tr_th_td('Socio', soporte.socio) }}
                            {{ table.tbl_tr_th_td('T.Soporte', soporte.tipoSoporte) }}
                            {{ table.tbl_tr_th_td('Monto','S/' ~ soporte.monto) }}
                            {{ table.tbl_tr_th_td('Amortizacion','S/' ~ soporte.amortizacion) }}
                            {{ table.tbl_tr_th_td('Activo', soporte.isActive  | yesno_custom) }}
                        </table>
                    </td>
                    <td class="d-none d-sm-table-cell">{{ soporte.socio }}</td>
                    <td class="d-none d-sm-table-cell">{{ soporte.tipoSoporte }}</td>
                    <td class="d-none d-sm-table-cell">S/ {{ soporte.monto }}</td>
                    <td class="d-none d-sm-table-cell">S/ {{ soporte.amortizacion }}</td>
                    <td class="d-none d-sm-table-cell text-center">{{ soporte.isActive | yesno_custom | raw }}</td>
                    <td class="">
                        <div class="float-end">
                            {% if access.has('show', soporte) %}
                                {{ action.btn_show_link2_ico(path('soporte_show', {'id': soporte.id})) }}
                            {% endif %}
                            {% if access.has('edit', soporte) %}
                                {{ action.btn_edit_link2_ico(path('soporte_edit', {'id': soporte.id})) }}
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No hay registros</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    {{ pagination.show(paginator, _section) }}
{% endblock %}

{% block _main_footer %}
    {% include 'crud/_index_links.html.twig' with {'route_base': 'soporte'} %}
{% endblock%}

{% block _body_tools %}
    {% include 'crud/_index_links_ico.html.twig' with {'route_base': 'soporte'}  %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/crud/list.js') }}"></script>
    <script src="{{ asset('js/select2.js') }}"></script>
    <script>
        $(document).ready(function () {
            Select2()
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            CRUDList.init('{{ path('soporte_index') }}');
        })
    </script>
{% endblock %}
