{% extends 'base.html.twig' %}
{% import '@App/theme1/breadcrumb.html.twig' as breadcrumb %}
{% import '@App/theme1/table.html.twig' as table %}
{% import 'theme/cardshow.html.twig' as cardshow %}
{% import 'theme/form.html.twig' as frm %}
{% import 'theme/action.html.twig' as action %}

{% set _title = 'Soporte' %}
{% set _main_title = 'Mostrar' %}
{% set _section =  'soporte_index'%}

{% block _breadcrumb %}
    {{ breadcrumb.show2(_title, _section, 'Mostrar') }}
{% endblock %}

{% block _main %}

    {{ cardshow.card_start('Información del Soporte: ') }}
    {{ cardshow.row('Socio', soporte.socio, 6) }}
    {{ cardshow.row('Tipo Soporte', soporte.tipoSoporte, 6) }}
    {{ cardshow.row('Monto', 'S/' ~ soporte.monto, 6) }}
    {{ cardshow.row('Amortizacion','S/' ~ soporte.amortizacion, 6) }}
    {% set saldo = soporte.monto - soporte.amortizacion %}
    {{ cardshow.row('Saldo', 'S/' ~ saldo, 6) }}
    {% if soporte.amortizacion < soporte.monto %}
        <button type="button" class="btn btn-light-success btn-sm btn-pagar" data-bs-toggle="modal" data-bs-target="#kt_modal_1" value={{ soporte.id }}>
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Pagar
        </button>
    {% endif %}
    {{ cardshow.card_end() }}

    <div class="modal fade" tabindex="-1" id="kt_modal_1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Realizar un Pago: </h3>
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                </div>
                <div class="modal-body">
                    {{ frm.start(formPago, {id: 'form-pago'}) }}
                    {{ frm.column(formPago.soporte) }}
                    {{ frm.column(formPago.fecha) }}
                    {{ frm.column(formPago.pago) }}
                    <div class="d-grid gap-2">
                        {{ frm.button(button_label|default('Guardar')) }}
                    </div>
                    {{ frm.end(formPago) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {{ cardshow.card_start('Historial de pagos realizado') }}

    <div class="table-responsive">
        <table class="table table-rounded table-striped border gy-7 gs-7">
            <thead>
            <tr class="fw-semibold fs-6 text-gray-800 border-bottom border-gray-200">
                <th>Monto Pagado</th>
                <th>Fecha de Pago</th>
            </tr>
            </thead>
            <tbody>
            {% for pago in dataPagosBySoporte %}
            <tr>
                <td>{{ pago.montopagado}}</td>
                <td>{{ pago.fecha |date('Y-m-d')}}</td>
                <td>
                <td>
                    <a data-pago-id="{{ pago.id }}"
                       data-pago-monto="{{ pago.montopagado }}"
                       data-pago-fecha="{{ pago.fecha |date('Y-m-d')}}"
                       class="btn btn-sm btn-light-warning editPago-btn"
                       title="editPago">
                        <i  class="bi bi-pencil-square"></i>
                        Editar
                    </a>
                </td>
                <td>
                    {{ action.btn_delete_forever_form(path('pago' ~ '_delete', {'id': pago.id}), csrf_token('delete_forever' ~ pago.id)) }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="gradeModal" tabindex="-1" role="dialog" aria-labelledby="gradeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Editar un Pago: </h3>
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                </div>
                <div class="modal-body">
                    {{ frm.start(formEditPago, {id: 'form-edit-pago'}) }}
                    {{ frm.column(formEditPago.fechaPagoEdit) }}
                    {{ frm.column(formEditPago.ePago) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    {{ frm.button(button_label|default('Actualizar')) }}
                    {{ frm.end(formEditPago) }}
                </div>
            </div>
        </div>
    </div>
    {{ cardshow.card_end() }}
{% endblock %}

{% block _main_footer %}
    {% include 'crud/_show_links.html.twig' with {'route_base':'soporte','entity': soporte} %}
{% endblock %}

{% block _body_tools %}
    {% include 'crud/_show_links_ico.html.twig' with {'route_base':'soporte','entity': soporte} %}
{% endblock %}

{% block javascripts %}}
    <script src="{{ asset('js/select2.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/collection.js') }}" type="text/javascript"></script>
{#    <script src="{{ asset('js/flatpickr.js') }}"></script>#}
    <script>
        jQuery(document).ready(function() {
            Select2();
            // Flatpickr();
            $(document).on('click', '.btn-pagar', function (event) {
                event.preventDefault();
                $('#pago_soporte').val($(this).val());
                $('#pago_soporte').trigger('change');
            });
        });
    </script>
    <script>
        jQuery(document).ready(function() {
            // Para registrar un pago desde un modal
            $("#form-pago").submit(function (e) {
                e.preventDefault();
                var form = $(this);

                $.ajax({
                    type: "POST",
                    url: "{{ path('pago_new_modal') }}",
                    data: form.serialize(),
                    success: function (data) {
                        if (false === data.status) {
                            swal.fire("Advertencia!", "Pago no válido", "error");
                        } else {
                            location.replace(location.href);
                        }
                    }
                });
            });

            $("#form-edit-pago").submit(function (e) {
                console.log('clcick')
                e.preventDefault();
                var form = $(this);

                $.ajax({
                    type: "POST",
                    url: "{{ path('pago_edit_modal') }}",
                    data: form.serialize(),
                    success: function (data) {
                        if (false === data.status) {
                            swal.fire("Advertencia!", "Pago no válido", "error");
                        } else {
                            location.replace(location.href);
                        }
                    }
                });
            });
        })
    </script>
    <script>
        $(document).ready(function () {
            // Para editar un pago desde un modal
            document.querySelectorAll('.editPago-btn').forEach((button) => {
                button.addEventListener('click', (event) => {
                    event.preventDefault();

                    const idPago = button.dataset.pagoId;
                    const ePago = button.dataset.pagoMonto;
                    const ePagoFecha = button.dataset.pagoFecha;

                    $('#gradeModal').modal('show');
                    document.getElementById('edit_pago_idPago').value = idPago;
                    document.getElementById('edit_pago_ePago').value = ePago;
                    document.getElementById('edit_pago_fechaPagoEdit').value = ePagoFecha;
                });
            });
        });
    </script>
{% endblock %}
