{% extends 'base.html.twig' %}
{% import '@App/theme1/breadcrumb.html.twig' as breadcrumb %}
{% import '@App/theme1/pagination.html.twig' as pagination %}
{% import 'theme/action.html.twig' as action %}

{% set _title = 'Tipo Credito' %}
{% set _main_title = 'Listado' %}
{% set _section =  'tipo_credito_index' %}

{% block _breadcrumb %}
    {{ breadcrumb.show(_title) }}
{% endblock %}

{% block _main %}
    {{ pagination.pager(paginator, _section) }}
    {% embed 'theme/_table.html.twig' %}
        {% block table_head %}
            {% import 'theme/action.html.twig' as action %}
            {% import '@App/theme1/table.html.twig' as table %}

            <tr>
                {{ table.th('#') }}
                {{ table.th('Cod.Cuenta', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Nombre', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Activo', true, 'd-none d-sm-table-cell text-center') }}
                <th></th>
            </tr>
        {% endblock %}
        {% block table_body %}
            {% import 'theme/action.html.twig' as action %}
            {% import '@App/theme1/table.html.twig' as table %}

            {% for tipo_credito in paginator.results %}
                <tr>
                    <td class="text-center">{{ loop.index | index (paginator)}}</td>
                    <td class="d-block d-sm-none">
                        <table class="table gs-0 gy-0">
                            {{ table.tbl_tr_th_td('Cod.Cuenta', tipo_credito.codigoCuenta) }}
                            {{ table.tbl_tr_th_td('Nombre', tipo_credito.nombre) }}
                            {{ table.tbl_tr_th_td('Activo', tipo_credito.isActive  | yesno_custom) }}
                        </table>
                    </td>
                    <td class="d-none d-sm-table-cell">{{ tipo_credito.codigoCuenta }}</td>
                    <td class="d-none d-sm-table-cell">{{ tipo_credito.nombre }}</td>
                    <td class="d-none d-sm-table-cell text-center">{{ tipo_credito.isActive | yesno_custom | raw }}</td>
                    <td class="">
                        <div class="float-end">
                            {% if access.has('show', tipo_credito) %}
                                {{ action.btn_show_link2_ico(path('tipo_credito_show', {'id': tipo_credito.id})) }}
                            {% endif %}
                            {% if access.has('edit', tipo_credito) %}
                                {{ action.btn_edit_link2_ico(path('tipo_credito_edit', {'id': tipo_credito.id})) }}
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No hay registros</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    {{ pagination.show(paginator, _section) }}
{% endblock %}

{% block _main_footer %}
    {% include 'crud/_index_links.html.twig' with {'route_base': 'tipo_credito'} %}
{% endblock%}

{% block _body_tools %}
    {% include 'crud/_index_links_ico.html.twig' with {'route_base': 'tipo_credito'}  %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/crud/list.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            CRUDList.init('{{ path('tipo_credito_index') }}');
        })
    </script>
{% endblock %}
