{% extends 'base.html.twig' %}
{% import '@App/theme1/breadcrumb.html.twig' as breadcrumb %}
{% import '@App/theme1/table.html.twig' as table %}
{% import 'theme/cardshow.html.twig' as cardshow %}
{% import 'theme/form.html.twig' as frm %}

{% set _title = 'Socio' %}
{% set _main_title = 'Mostrar' %}
{% set _section =  'socio_index'%}

{% block _breadcrumb %}
    {{ breadcrumb.show2(_title, _section, 'Mostrar') }}
{% endblock %}

{% block _main %}
    <div class="container px-0">
        <div>
            <h2>{{ socio.apellidoPaterno~' '~socio.apellidoMaterno~' '~socio.nombres }}</h2>
            <h3>DNI: {{ socio.dni }}</h3>
        </div>
    </div>
    {{ cardshow.card_start('Información del Socio: ') }}
        {{ cardshow.row('Base Social', socio.baseSocial, 6) }}
        {{ cardshow.row('telefono', socio.telefono, 6) }}
        {{ cardshow.row('fechaNacimiento', socio.fechaNacimiento, 6) }}
        {{ cardshow.row('Sexo', socio.sexo, 6) }}
    {{ cardshow.card_end() }}

    {{ cardshow.card_start('Proyeccion del Año: ' ~ proyeccion.anio) }}
        {{ cardshow.row('Proyeccion', proyeccion.quintales ~ ' quintales', 4) }}
        {{ cardshow.row('Acopio  ' ~ proyeccion.anio, proyeccion.acopiadoQuintales ~ ' quintales', 4) }}
        {{ cardshow.row('Acopio % ', '- %' , 4) }}
        {{ cardshow.row('Aporte ', ' S/.  ' ~ proyeccion.aporte, 4) }}
        {{ cardshow.row('Pago Aporte ', ' S/.  ' ~ proyeccion.pagoAporte, 4) }}
        {{ cardshow.row('Aporte % ', '- %' , 4) }}
    {{ cardshow.card_end() }}

    {{ table.tbl_start() }}
        {% include 'crud/_show_info.html.twig' with {'entity': socio} %}
    {{ table.tbl_end() }}
{% endblock %}

{% block _main_footer %}
    {% include 'crud/_show_links.html.twig' with {'route_base':'socio','entity': socio} %}
{% endblock %}

{% block _body_tools %}
    {% include 'crud/_show_links_ico.html.twig' with {'route_base':'socio','entity': socio} %}
{% endblock %}

