{% extends 'base.html.twig' %}
{% import '@App/theme1/breadcrumb.html.twig' as breadcrumb %}
{% import '@App/theme1/table.html.twig' as table %}
{% import 'theme/cardshow.html.twig' as cardshow %}

{% set _title = 'Socio' %}
{% set _main_title = 'Mostrar' %}
{% set _section =  'socio_index'%}

{% block _breadcrumb %}
    {{ breadcrumb.show2(_title, _section, 'Mostrar') }}
{% endblock %}

{% block _main %}
    <div class="container px-0">
        <div>
            <h2>{{ socio.apellidoPaterno~' '~socio.apellidoMaterno~' '~socio.nombres }}</h2>
            <h3>DNI: {{ socio.dni }}</h3>
        </div>
    </div>
    {{ cardshow.card_start('Información del Socio: ') }}
        {{ cardshow.row('Base Social', socio.baseSocial, 6) }}
        {{ cardshow.row('telefono', socio.telefono, 6) }}
        {{ cardshow.row('fechaNacimiento', socio.fechaNacimiento, 6) }}
        {{ cardshow.row('Sexo', socio.sexo, 6) }}
    {{ cardshow.card_end() }}

    {% set anio = proyeccion.anio | date('Y') %}

    {{ cardshow.card_start('Proyeccion del Año: ' ~ anio) }}
        {{ cardshow.row('Proyeccion', proyeccion.quintales ~ ' quintales', 4) }}
        {{ cardshow.row('Acopio  ' ~ anio, proyeccion.acopiadoQuintales ~ ' quintales', 4) }}
        {{ cardshow.row('Acopio % ', '- %' , 4) }}
        {{ cardshow.row('Aporte ', ' S/.  ' ~ proyeccion.aporte, 4) }}
        {{ cardshow.row('Pago Aporte ', ' S/.  ' ~ proyeccion.pagoAporte, 4) }}
        {{ cardshow.row('Aporte % ', '- %' , 4) }}
    {{ cardshow.card_end() }}

    {{ cardshow.card_start('Créditos Otorgados: ') }}
        {% for credito in creditos %}
            {{ cardshow.row('Tipo de Crédito ', credito.tipoCredito, '4 my-2') }}
            {{ cardshow.row('Monto  ', ' S/.  ' ~ credito.monto , '3 my-2') }}
            {{ cardshow.row('Amortizado ', ' S/.  ' ~ credito.amortizacion, '3 my-2') }}
            {{ cardshow.rowFreeStart(2) }}
            <button type="button" class="btn btn-light-success btn-sm" data-bs-toggle="modal" data-bs-target="#kt_modal_{{ credito.id }}">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Pagar
            </button>
            {{ cardshow.rowFreeEnd() }}
                <div class="modal fade" tabindex="-1" id="kt_modal_{{ credito.id }}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Realizar un Pago: </h3>
                                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                                </div>
                            </div>
                            <div class="modal-body">
                                <p>Modal body text goes here.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
        {%  endfor %}
    {{ cardshow.card_end() }}

    {{ table.tbl_start() }}
        {% include 'crud/_show_info.html.twig' with {'entity': socio} %}
    {{ table.tbl_end() }}
{% endblock %}

{% block _main_footer %}
    {% include 'crud/_show_links.html.twig' with {'route_base':'socio','entity': socio} %}
{% endblock %}

{% block _body_tools %}
    {% include 'crud/_show_links_ico.html.twig' with {'route_base':'socio','entity': socio} %}
{% endblock %}
