{% extends 'base.html.twig' %}
{% import '@App/theme1/breadcrumb.html.twig' as breadcrumb %}
{% import '@App/theme1/pagination.html.twig' as pagination %}

{% set _title = 'Parametro' %}
{% set _main_title = 'Listado' %}
{% set _section =  'registro_fondos_index' %}

{% block _breadcrumb %}
    {{ breadcrumb.show(_title) }}
{% endblock %}

{% block _main %}
    {{ pagination.pager(paginator, _section) }}
    {% embed 'theme/_table.html.twig' %}
        {% block table_head %}
            {% import 'theme/action.html.twig' as action %}
            {% import '@App/theme1/table.html.twig' as table %}
            <tr>
                {{ table.th('#') }}
                {{ table.th('Datos', true, 'd-block d-sm-none') }}
                {{ table.th('DNI', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Paciente', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Tipo', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Fecha', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Monto', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Activo', true, 'd-none d-sm-table-cell text-center') }}
                <th></th>
            </tr>
        {% endblock %}
        {% block table_body %}
            {% import 'theme/action.html.twig' as action %}
            {% import '@App/theme1/table.html.twig' as table %}
            {% for registro_fondos in paginator.results %}
                <tr>
                    <td class="text-center">{{ loop.index | index (paginator)}}</td>
                    <td class="d-block d-sm-none">
                        <table class="table gs-0 gy-0">
                            {{ table.tbl_tr_th_td('DNI', registro_fondos.paciente.dni ?? registro_fondos.dni) }}
                            {{ table.tbl_tr_th_td('Paciente', registro_fondos.paciente ?? registro_fondos.nombreSocio) }}
                            {{ table.tbl_tr_th_td('Tipo', registro_fondos.tipoRegistro) }}
                            {{ table.tbl_tr_th_td('Fecha', registro_fondos.fecha | date('d-m-Y')) }}
                            {{ table.tbl_tr_th_td('Monto', registro_fondos.monto) }}
                            {{ table.tbl_tr_th_td('Activo', registro_fondos.isActive  | yesno_custom) }}
                        </table>
                    </td>
                    <td class="d-none d-sm-table-cell text-uppercase">{{ registro_fondos.paciente.dni ?? registro_fondos.dni }}</td>
                    <td class="d-none d-sm-table-cell text-uppercase">{{ registro_fondos.paciente ?? registro_fondos.nombreSocio }}</td>
                    <td class="d-none d-sm-table-cell">
                        {% if registro_fondos.tipoRegistro == 'fondomortorio' %}
                            Fondo Mortorio
                            {% elseif registro_fondos.tipoRegistro == 'apoyosalud' %}
                            Apoyo Salud
                        {% else %}
                            Otro tipo de fondo
                        {% endif %}
                    </td>
                    <td class="d-none d-sm-table-cell">{{ registro_fondos.fecha  | date('d-m-Y') }}</td>
                    <td class="d-none d-sm-table-cell">{{ registro_fondos.monto }}</td>
                    <td class="d-none d-sm-table-cell text-center">{{ registro_fondos.isActive | yesno_custom | raw }}</td>
                    <td class="">
                        <div class="float-end">
                            {% if access.has('show', registro_fondos) %}
                                {{ action.btn_show_link2_ico(path('registro_fondos_show', {'id': registro_fondos.id})) }}
                            {% endif %}
                            {% if access.has('edit', registro_fondos) %}
                                {{ action.btn_edit_link2_ico(path('registro_fondos_edit', {'id': registro_fondos.id})) }}
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No hay registros</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    {{ pagination.show(paginator, _section) }}
{% endblock %}

{% block _main_footer %}
    {% include 'crud/_index_links.html.twig' with {'route_base': 'registro_fondos'} %}
{% endblock%}

{% block _body_tools %}
    {% include 'crud/_index_links_ico.html.twig' with {'route_base': 'registro_fondos'}  %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/crud/list.js') }}"></script>
    <script>
        $(document).ready(function () {
            CRUDList.init('{{ path('registro_fondos_index') }}');
        });
    </script>
{% endblock %}
