{% extends 'base.html.twig' %}
{% import '@App/theme1/breadcrumb.html.twig' as breadcrumb %}
{% import '@App/theme1/pagination.html.twig' as pagination %}

{% set _title = 'Paciente' %}
{% set _main_title = 'Listado' %}
{% set _section =  'paciente_index' %}

{% block _breadcrumb %}
    {{ breadcrumb.show(_title) }}
{% endblock %}

{% block _main %}
    {{ pagination.pager(paginator, _section) }}
    {% embed 'theme/_table.html.twig' %}
        {% block table_head %}
            {% import 'theme/action.html.twig' as action %}
            {% import '@App/theme1/table.html.twig' as table %}

            <tr>
                {{ table.th('#') }}
                {{ table.th('Datos', true, 'd-block d-sm-none') }}
                {{ table.th('Dni', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Nombre', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Posición', true, 'd-none d-sm-table-cell') }}
                {{ table.th('Activo', true, 'd-none d-sm-table-cell text-center') }}
                <th></th>
            </tr>
        {% endblock %}
        {% block table_body %}
            {% import 'theme/action.html.twig' as action %}
            {% import '@App/theme1/table.html.twig' as table %}

            {% for paciente in paginator.results %}
                <tr>
                    <td class="text-center">{{ loop.index | index (paginator)}}</td>
                    <td class="d-block d-sm-none">
                        <table class="table gs-0 gy-0">
                            {{ table.tbl_tr_th_td('Dni', paciente.dni) }}
                            {{ table.tbl_tr_th_td('Nombre', paciente.apellidoPaterno~' '~paciente.apellidoMaterno~' '~paciente.nombres) }}
                            {{ table.tbl_tr_th_td('Posición', paciente.posicion) }}
                            {{ table.tbl_tr_th_td('Activo', paciente.isActive  | yesno_custom) }}
                        </table>
                    </td>
                    <td class="d-none d-sm-table-cell">{{ paciente.dni }}</td>
                    <td class="d-none d-sm-table-cell">{{ paciente.apellidoPaterno~' '~paciente.apellidoMaterno~' '~paciente.nombres }}</td>
                    <td class="d-none d-sm-table-cell">{{ paciente.posicion }}</td>
                    <td class="d-none d-sm-table-cell text-center">{{ paciente.isActive | yesno_custom | raw }}</td>
                    <td class="">
                        <div class="float-end">
                            {% if access.has('show', paciente) %}
                                {{ action.btn_show_link2_ico(path('paciente_show', {'id': paciente.id})) }}
                            {% endif %}
                            {% if access.has('edit', paciente) %}
                                {{ action.btn_edit_link2_ico(path('paciente_edit', {'id': paciente.id})) }}
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No hay registros</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    {{ pagination.show(paginator, _section) }}
{% endblock %}

{% block _main_footer %}
    {% include 'crud/_index_links.html.twig' with {'route_base': 'paciente'} %}
{% endblock%}

{% block _body_tools %}
    {% include 'crud/_index_links_ico.html.twig' with {'route_base': 'paciente'}  %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/crud/list.js') }}"></script>
    <script>
        $(document).ready(function () {
            CRUDList.init('{{ path('paciente_index') }}');
        });
    </script>
{% endblock %}
